body {
  color: #333;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

main {
  margin: 40px;
}

h1 {
  font-size: 30px;
  margin-bottom: 40px;
}

.button_container {
  border: 1px solid #ddd;
  margin: 0 10px 10px 0;
  padding: 20px;
  width: 300px;
  height: 300px;
  float: left;
  overflow: hidden;
  box-sizing: border-box;
  text-align: center;
}

a#btn_spotify {
  display: inline-block;
  height: 50px;
  box-sizing: border-box;
  border-radius: 25px;
  margin: auto;
  margin-top: 100px;
  padding: 10px 40px 0 40px;
  background-color: #2ebd59;
  border: 2px solid #2ebd59;
  color: #fff;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.5s;
}

a#btn_spotify:hover {
  background-color: #fff;
  border: 2px solid #000;
  color: #000;
}

a#btn_amazon {
  display: block;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  border-radius: 50px;
  margin: auto;
  margin-top: 75px;
  padding-top: 8px;
  background-color: #232f3e;
  color: #fff;
  text-align: center;
  font-size: 60px;
  transition: all 0.2s;
}

a#btn_amazon:hover {
  background-color: #fc9a18;
}

a#btn_twitter {
  display: inline-block;
  height: 40px;
  box-sizing: border-box;
  border-radius: 4px;
  margin: auto;
  margin-top: 105px;
  padding: 10px 30px 0 30px;
  background-color: #56cdf1;
  color: #fff;
  font-size: 18px;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  text-decoration: none;
}

a#btn_twitter:hover {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2ebfec+0,28a5cb+100 */
  background: rgb(46, 191, 236); /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    rgba(46, 191, 236, 1) 0%,
    rgba(40, 165, 203, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    rgba(46, 191, 236, 1) 0%,
    rgba(40, 165, 203, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    rgba(46, 191, 236, 1) 0%,
    rgba(40, 165, 203, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ebfec', endColorstr='#28a5cb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

a#btn_indiegogo {
  display: inline-block;
  position: relative;
  margin: auto;
  margin-top: 100px;
  padding: 8px 16px;
  background-color: #fff;
  color: #eb1478;
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: -2px;
  transition: all 0.2s;
}

a#btn_indiegogo:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #eb1478;
  transition: all 0.5s;
}

a#btn_indiegogo:hover {
  color: #fff;
}

a#btn_indiegogo:hover:before {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

a#btn_indiegogo span {
  position: relative;
  z-index: 10;
}
a#btn_cocacola {
  display: inline-block;
  position: relative;
  margin: auto;
  margin-top: 100px;
  padding: 8px 16px;
  background-color: #fff;
  color: #dc0a0a;
  font-family: Unity, "Gotham A", "Gotham B";
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: -2px;
  transition: all 0.2s;
  transform-origin: center;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

a#btn_cocacola:hover {
  animation: shake 0.5s ease infinite;
}

a#btn_cocacola:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 0.5s;
}

a#btn_cocacola:hover:before {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

a#btn_cocacola span {
  position: relative;
  z-index: 10;
}
a#btn_tesla {
  display: inline-block;
  position: relative;
  margin: auto;
  margin-top: 100px;
  width: 50%;
  /* height: 100px; */
  background-size: cover;
  background-position: center;
  transition: all 0.2s;
}

a#btn_tesla img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a#btn_tesla:hover {
  width: 90%;
  margin-top: auto;
}

a#btn_tesla:hover img {
  width: 120%;
  height: 120%;
}

a#btn_craigslist {
  display: inline-block;
  box-sizing: border-box;
  margin: auto;
  margin-top: 100px;
  padding: 20px 20px 20px 20px;
  color: 33105c;
  font-size: 24px;
  font-family: "Raleway", "sans-serif";
  font-weight: 800;
  text-decoration: none;
  transition: all 0.2s;
  text-decoration-line: underline;
  text-underline-offset: 0.2rem;
}

a#btn_craigslist:hover {
  letter-spacing: 0.15rem;
}
/*moo*/
a#btn_moo {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  margin: auto;
  margin-top: 100px;
  color: #107c5d;
  padding: 20px 20px 20px 20px;
  font-size: 30px;
  font-family: "Bryant MOO Pro Medium", "Trebuchet MS", Trebuchet,
    "Liberation Sans", sans-serif;
  font-weight: 900;
  text-decoration: none;
  text-align: left;
  border-radius: 50%;
  transition: all 0.3s;
  line-height: 30px;
}

a#btn_moo:hover {
  outline: #107c5d;
  outline-style: solid;
  outline-width: 3px;
  line-height: 32px;
}
a#btn_nike {
  display: inline-block;
  height: 50px;
  box-sizing: border-box;
  margin: auto;
  margin-top: 100px;
  color: black;
  font-size: 50px;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.6s;
}
a#btn_nike:hover {
  color: rgb(126, 117, 117);
  font-size: 70px;
  transform: rotate(360deg);
}

#btn_stjude {
  display: inline-block;
  margin: 20px 0;
  padding: 15px 30px;
  position: relative;
  margin: auto;
  margin-top: 100px;
  font-size: 1.2rem;
  color: #fff;
  background-color: #ff6b6b;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid #ff6b6b;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  position: relative;
}

#btn_stjude::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #d01947, rgb(140, 46, 46));
  border-radius: 5px;
  z-index: -1;
  transition: transform 0.3s;
}

#btn_stjude:hover {
  background-color: #d01947;
  color: #fff;
}

#btn_stjude:hover::before {
  transform: scale(1.05);
}
a#btn_lyft {
  display: block;
  width: 100px;
  height: 55px;
  box-sizing: border-box;
  padding-top: 2px;
  margin: auto;
  margin-top: 100px;
  background-color: #ff00bf;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 40px;
  font-weight: bold;
  border-radius: 15px;
}

a#btn_lyft:hover {
  background-color: #01111f;
  transition: 1s;
}

a#btn_facebook {
  display: inline-block;
  width: 160px;
  height: 45px;
  background-color: #4267b2;
  color: #fff;
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  margin-top: 120px;
  line-height: 45px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

a#btn_facebook:hover {
  background-color: #365899;
  transform: scale(1.1);
}

a#btn_mollyjogger {
  display: inline-block;
  text-decoration: none;
  padding: 0;
  margin-top: 100px;
  background: linear-gradient(to right, #059300, #c4ffbb, #059300, #c4ffbb);
  background-size: 50% 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  color: #059300;
  transition: background-size 400ms;
  font-size: 40px;
  font-family: "Noto Sans", sans-serif;
}

a#btn_mollyjogger:hover {
  background-size: 100% 3px;
}

a#btn_mollyjogger::before {
  bottom: 0;
  height: 33%;
  margin-top: 100px;
}

a#btn_colorrun {
  display: inline-block;
  padding-top: 105px;
  color: #ff0000;
  font-size: 50px;
  font-family: "Arial", sans-serif;
  font-weight: lighter;
  text-decoration: none;
  position: relative;
}

a#btn_colorrun::before {
  content: "";
  background-color: hsla(0, 100%, 75%, 0.75);
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 8px;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

a#btn_colorrun:hover::before {
  bottom: 0;
  height: 33%;
  margin-top: 20px;
}
