html {
  font-family: "Archivo Narrow", sans-serif;
}
header {
  background-image: url("https://cdn.dribbble.com/users/1608570/screenshots/3523915/media/bee8bb08a10a562c24e099e0ac2bdf91.jpg?resize=400x300&vertical=center");
  text-align: center;
}
header h1 {
  background-color: rgba(255, 255, 255, 0.469);
  border-radius: 10px;
}
header p {
  background-color: rgba(255, 255, 255, 0.469);
  border-radius: 10px;
  padding: 10px;
}
.section1 {
  background-color: rgb(232 229 194);
  /* rgb(244 192 79) */
  /* rgb(255 218 96) */
}
.section2 {
  background-color: rgb(255 218 96);
}
h1,
h2,
h3,
p {
  margin: 0;
}
h1 {
  font-size: 80px;
}
h2 {
  font-size: 30px;
  line-height: 1.2;
}
h3 {
  text-align: center;
  font-size: 40px;
  padding-bottom: 15px;
}
p {
  padding-top: 16px;
  font-size: 18px;
  line-height: 1.4;
}
.column_container {
  width: 960px;
  margin: auto;
}
header .column_container {
  padding-top: 152px;
  padding-bottom: 185px;
}
section .column_container {
  padding-top: 40px;
  padding-bottom: 55px;
}
.section1_img {
  float: right;
  margin: 1px 0 35px 45px;
  width: 400px;
  height: 300px;
}
.equipments-container {
  display: flex;
  margin-top: 2%;
  margin-left: 6%;
  margin-right: 6%;
  margin-bottom: 2%;
}
.equipments {
  flex: 1;
  padding: 20px;
  border-radius: 50px;
  background-color: rgb(244 192 79);
  margin: 10px;
}
.equipments h2 {
  text-align: left;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
  padding-top: 20px;
  padding-bottom: 0px;
}
.grid_display {
  margin-top: -6px;
  width: 50%;
  margin-bottom: 24px;
}
.grid_display img {
  height: 150px;
  width: 200px;
  object-fit: cover;
  float: left;
  margin-right: 12px;
  margin-top: 5px;
}
h4 {
  margin: 6px;
  margin-bottom: 8px;
  font-size: 20px;
}
.grid_display p {
  width: 430px;
  margin-left: 16px;
  /* margin-top: 8px; */
  font-size: 18px;
  padding-top: 0px;
}
.section2 .column_container {
  padding-top: 40px;
  padding-bottom: 41px;
}
.instruction-grid {
  display: grid;
  grid-template-columns: 1fr; /* Two columns, left and right */
  gap: 20px; /* Adjust the gap as needed */
  margin-top: 20px; /* Add space at the top */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
}

.instruction {
  width: 80%;
  background-color: rgb(232 229 194);
  border-radius: 10px;
  padding: 15px;
  /* display: block; */
  text-align: center;
  margin: 0 auto;
}

.instruction p {
  margin: 0;
}

.instruction-image img {
  max-width: 50%;
  display: block; /* Center the image within its container */
  margin: 0 auto;
}

footer {
  background-color: rgb(204 230 177);
}
.copyright {
  text-align: center;
  /* margin: 1%; */
  padding: 2%;
  font-size: 18px;
}
